body{
    color: white;
}
*{
    text-align: center;
    font-family: "Teko", sans-serif;
    text-wrap: nowrap;
}

.container{
    width: 100vw;
    min-height: 98vh;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    background: url("./wallpaperflare.com_wallpaper\ \(1\).jpg");
    background-size: cover;
    background-position: center;
}

.timer{
    font-size: 75px;
    backdrop-filter: blur(2px);

}

.btn-grp{
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(2px);

}

.buttons{
    border: 2px solid white;
    border-radius: 10%;
    padding: 1% 5%;
    font-size: 20px;
    background: transparent;
    color: white;
}
.buttons:hover{
    background: white;
    color: black;
}

#record-container{
    margin-top: 5%;
    border-top: 2px solid white;
    margin: 5% auto;
    padding-right: 3%;
    backdrop-filter: blur(2px);

}

#record-table{
    text-align: left;
}

#record-table th{
    padding-left: 40px;
    padding-top: 5%;
}
#record-table td{
    padding-left: 40px;
    padding-left: 50px;
}




@media screen and (max-width:500px){
    .timer{
        font-size: 50px;
    }
    .buttons{
        
        font-size: 10px;
    }
    #record-table th{
        padding-left: 30px;
        padding-top: 5%;
    }
    #record-table td{
        padding-left: 30px;
        padding-left: 50px;
    }
}